<nav class="navbar navbar-default">
  <div class="container-fluid">


  	<%if !@previous.blank? %>
			<p><i class="fas fa-angle-double-left"></i></i> <%= link_to @previous.capitalize, @previous %> <i class="fas fa-angle-double-left"></i></p>

		<% else %>
			<p></p>		


		<% end %>

    <%if !@next.blank? %>

   		<p><i class="fas fa-angle-double-right"></i> <%= link_to @next.capitalize, @next %> <i class="fas fa-angle-double-right"></i></p>

    <% end %>







</div>



</nav>


